$white: #fff;
$black: #000000;
$darken: #00043c;

$primary: #fd7792;
$secondary: #a3cb4c;

.btn-style {
  color: #fff !important;
  background: #fc456a !important;
}

.wrap {
  background: #fc456a;
  padding: 0;

  .mailus {
    color: rgba(255, 255, 255, 0.6);
  }
  a {
    color: white;
    font-size: 12px;
  }
  .fa {
    color: rgba(255, 255, 255, 0.8);
  }
  .mailus {
    color: rgba(255, 255, 255, 0.6);
  }
}

.social-media {
  display: inline-block;
  p {
    a {
      width: 28px;
      height: 28px;
      margin-right: 7px;
      border-radius: 50%;
      span {
        color: $white;
      }
      &:hover {
        span {
          color: $white;
        }
      }
    }
  }
}

.card-text {
  color: #978f8f;
}

.btn-custom {
  display: inline-block;
  color: #000000;
  border: 2px solid rgb(255, 255, 255);
  background: #fff;
}

.btn-custom:hover {
  background-color: $fff;
}

.room-wrap {
  .img {
    width: 100%;
    height: 400px;
    display: block;
  }
}
