<div class="container">
  <div class="row">
    <h3 class="text-center text-black mt-5 mb-5"> {{title}} </h3>
    <div class="col-md-4">
      <div class="card" style="width: 100%">
        <img
          src="images/services-1.jpg"
          class="card-img-top"
          alt="..."
          style="padding: 1rem"
        />
        <div class="card-body text-center">
          <h5 class="card-title">Map Direction</h5>
          <p class="card-text">
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic.
          </p>
          <a href="#" class="btn btn-style mb-3">READ MORE</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%">
        <img
          src="images/services-2.jpg"
          class="card-img-top"
          alt="..."
          style="padding: 1rem"
        />
        <div class="card-body text-center">
          <h5 class="card-title">Accomodation Services</h5>
          <p class="card-text">
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic.
          </p>
          <a href="#" class="btn btn-style mb-3">READ MORE</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%">
        <img
          src="images/services-3.jpg"
          class="card-img-top"
          alt="..."
          style="padding: 1rem"
        />
        <div class="card-body text-center">
          <h5 class="card-title">Great Experience</h5>
          <p class="card-text">
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic.
          </p>
          <a href="#" class="btn btn-style mb-3">READ MORE</a>
        </div>
      </div>
    </div>
  </div>
</div>
