<section class="container mb-5">
  <h3 class="text-center text-black mt-5 mb-5">{{title}}</h3>
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card" style="width: 100%">
        <img
          src="images/image_1.jpg"
          class="card-img-top"
          alt="..."
          height="400px"
        />
        <div class="card-body text-center">
          <h5 class="card-title">
            Work Hard, Party Hard in a Luxury Chalet in the Alps
          </h5>
          <p style="color: #fd7792">
            January 30, 2020 Admin
            <span class="fa-solid fa-comment" style="color: #fd7792"></span> 3
          </p>
          <p class="card-text">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%">
        <img
          src="images/image_2.jpg"
          class="card-img-top"
          alt="..."
          height="400px"
        />
        <div class="card-body text-center">
          <h5 class="card-title">
            Work Hard, Party Hard in a Luxury Chalet in the Alps
          </h5>
          <p style="color: #fd7792">
            January 30, 2020 Admin
            <span class="fa-solid fa-comment" style="color: #fd7792"></span> 3
          </p>
          <p class="card-text">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%">
        <img
          src="images/image_3.jpg"
          class="card-img-top"
          alt="..."
          height="400px"
        />
        <div class="card-body text-center">
          <h5 class="card-title">
            Work Hard, Party Hard in a Luxury Chalet in the Alps
          </h5>
          <p style="color: #fd7792">
            January 30, 2020 Admin
            <span class="fa-solid fa-comment" style="color: #fd7792"></span> 3
          </p>
          <p class="card-text">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-md-4">
      <div class="card" style="width: 100%">
        <img
          src="images/image_4.jpg"
          class="card-img-top"
          alt="..."
          height="400px"
        />
        <div class="card-body text-center">
          <h5 class="card-title">
            Work Hard, Party Hard in a Luxury Chalet in the Alps
          </h5>
          <p style="color: #fd7792">
            January 30, 2020 Admin
            <span class="fa-solid fa-comment" style="color: #fd7792"></span> 3
          </p>
          <p class="card-text">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%">
        <img
          src="images/image_5.jpg"
          class="card-img-top"
          alt="..."
          height="400px"
        />
        <div class="card-body text-center">
          <h5 class="card-title">
            Work Hard, Party Hard in a Luxury Chalet in the Alps
          </h5>
          <p style="color: #fd7792">
            January 30, 2020 Admin
            <span class="fa-solid fa-comment" style="color: #fd7792"></span> 3
          </p>
          <p class="card-text">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%">
        <img
          src="images/image_6.jpg"
          class="card-img-top"
          alt="..."
          height="400px"
        />
        <div class="card-body text-center">
          <h5 class="card-title">
            Work Hard, Party Hard in a Luxury Chalet in the Alps
          </h5>
          <p style="color: #fd7792">
            January 30, 2020 Admin
            <span class="fa-solid fa-comment" style="color: #fd7792"></span> 3
          </p>
          <p class="card-text">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center">
    <ul class="d-flex gap-3 pagination-blog">
      <li>
        <a href=""><i class="fa-solid fa-chevron-left"></i></a>
      </li>
      <li class="active-pagination"><a href="">1</a></li>
      <li><a href="">2</a></li>
      <li><a href="">3</a></li>
      <li>
        <a href=""><i class="fa-solid fa-chevron-right"></i></a>
      </li>
    </ul>
  </div>
</section>
