<section class="container mb-5">
  <h3 class="text-center text-black mt-5 mb-5">{{title}}</h3>
  <div class="row">
    <div class="col-md-8">
      <iframe
        width="100%"
        height="415"
        src="https://www.youtube.com/embed/_IXpL83nE2Q"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <div>
        <h3>Lets get started</h3>
        <p class="mt-4 mb-4">
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia, there live the blind texts. Separated they
          live in Bookmarksgrove right at the coast of the Semantics, a large
          language ocean.
        </p>
        <button class="btn btn-style">Book Apartment Now</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div>
        <div class="container mt-5 mb-5">
          <h3 class="text-black mt-5 mb-5">Get in touch</h3>
          <p>Your message was sent, thank you</p>
          <form>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label class="form-label">FULL NAME </label>
                <input type="text" class="form-control" placeholder="Name" />
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label"> EMAIL ADDRESS </label>
                <input type="text" class="form-control" placeholder="Email" />
              </div>
            </div>
            <div class="row">
              <div class="mb-3">
                <label class="form-label"> SUBJECT </label>
                <input type="text" class="form-control" placeholder="Subject" />
              </div>
            </div>

            <div class="row">
              <div class="mb-3">
                <label class="form-label"> MESSAGE </label>
                <textarea
                  class="form-control"
                  rows="3"
                  placeholder="Message"
                ></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
      <button
        type="submit"
        class="btn text-white w-100 p-3"
        style="background-color: #fd7792"
      >
        SEND MESSAGE
      </button>
    </div>
    <div
      class="col-md-4 pt-5 pb-5"
      style="background-color: #fd7792; color: #fff"
    >
      <div class="container">
        <div class="d-flex align-items-center flex-column">
          <h3>Let's get in touch</h3>
          <p class="mt-4 mb-4">
            We're open for any suggestion or just to have a chat
          </p>
        </div>
        <div>
          <div class="address mt-5">
            <span>
              <i class="fa-solid fa-location-dot"></i>
            </span>
            <span>
              Address : 198 West 21th Street, Suite 721 New York NY 10016
            </span>
          </div>
          <div class="address mt-5">
            <span>
              <i class="fa-solid fa-phone"></i>
            </span>
            <span> Phone: + 1235 2355 98 </span>
          </div>
          <div class="address mt-5">
            <span>
              <i class="fa-brands fa-telegram"></i>
            </span>
            <span> Email: info@yoursite.com </span>
          </div>
          <div class="address mt-5">
            <span>
              <i class="fa-solid fa-globe"></i>
            </span>
            <span> Website yoursite.com </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
