<section class="mb-5">
  <h3 class="text-center text-black mt-5 mb-5">{{title}}</h3>

  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6">
        <div class="card" style="width: 100%">
          <img
            src="images/room-1.jpg"
            class="card-img-top"
            alt="..."
            height="400px"
          />
          <div class="card-body text-center">
            <div class="text-center">
              <p class="mb-0 icons">
                <span class="fa-solid fa-star" style="color: #fc456a"></span
                ><span class="fa-solid fa-star" style="color: #fc456a"></span
                ><span class="fa-solid fa-star" style="color: #fc456a"></span
                ><span class="fa-solid fa-star" style="color: #fc456a"></span
                ><span class="fa-solid fa-star" style="color: #fc456a"></span>
              </p>

              <h3 class="mb-3">Suite Room</h3>
              <ul class="list-accomodation" style="color: #a6a6aa">
                <li><span>Max:</span> 3 Persons</li>
                <li><span>Size:</span> 45 m2</li>
                <li><span>View:</span> Sea View</li>
                <li><span>Bed:</span> 1</li>
              </ul>
              <p class="pt-1">
                <button class="btn btn-style px-3 py-2">
                  View Room Details
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" style="width: 100%">
          <img
            src="images/room-2.jpg"
            class="card-img-top"
            alt="..."
            height="400px"
          />
          <div class="card-body text-center">
            <div class="text-center">
              <p class="mb-0 icons">
                <span class="fa-solid fa-star" style="color: #fc456a"></span
                ><span class="fa-solid fa-star" style="color: #fc456a"></span
                ><span class="fa-solid fa-star" style="color: #fc456a"></span
                ><span class="fa-solid fa-star" style="color: #fc456a"></span
                ><span class="fa-solid fa-star" style="color: #fc456a"></span>
              </p>

              <h3 class="mb-3">Suite Room</h3>
              <ul class="list-accomodation" style="color: #a6a6aa">
                <li><span>Max:</span> 3 Persons</li>
                <li><span>Size:</span> 45 m2</li>
                <li><span>View:</span> Sea View</li>
                <li><span>Bed:</span> 1</li>
              </ul>
              <p class="pt-1">
                <button class="btn btn-style px-3 py-2">
                  View Room Details
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        <div class="card" style="width: 100%">
          <img
            src="images/room-3.jpg"
            class="card-img-top"
            alt="..."
            height="400px"
          />
          <div class="card-body text-center">
            <div class="text-center">
              <p class="mb-0 icons">
                <span class="fa-solid fa-star" style="color: #fc456a"></span
                ><span class="fa-solid fa-star" style="color: #fc456a"></span
                ><span class="fa-solid fa-star" style="color: #fc456a"></span
                ><span class="fa-solid fa-star" style="color: #fc456a"></span
                ><span class="fa-solid fa-star" style="color: #fc456a"></span>
              </p>

              <h3 class="mb-3">Suite Room</h3>
              <ul class="list-accomodation" style="color: #a6a6aa">
                <li><span>Max:</span> 3 Persons</li>
                <li><span>Size:</span> 45 m2</li>
                <li><span>View:</span> Sea View</li>
                <li><span>Bed:</span> 1</li>
              </ul>
              <p class="pt-1">
                <button class="btn btn-style px-3 py-2">
                  View Room Details
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" style="width: 100%">
          <img
            src="images/room-4.jpg"
            class="card-img-top"
            alt="..."
            height="400px"
          />
          <div class="card-body text-center">
            <div class="text-center">
              <p class="mb-0 icons">
                <span class="fa-solid fa-star" style="color: #fc456a"></span
                ><span class="fa-solid fa-star" style="color: #fc456a"></span
                ><span class="fa-solid fa-star" style="color: #fc456a"></span
                ><span class="fa-solid fa-star" style="color: #fc456a"></span
                ><span class="fa-solid fa-star" style="color: #fc456a"></span>
              </p>

              <h3 class="mb-3">Suite Room</h3>
              <ul class="list-accomodation" style="color: #a6a6aa">
                <li><span>Max:</span> 3 Persons</li>
                <li><span>Size:</span> 45 m2</li>
                <li><span>View:</span> Sea View</li>
                <li><span>Bed:</span> 1</li>
              </ul>
              <p class="pt-1">
                <button class="btn btn-style px-3 py-2">
                  View Room Details
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
